In [20]:
import sqlalchemy as sa

In [22]:
import dask.array as da
import dask.dataframe as dd
import numpy as np
import duckdb
import matplotlib.pyplot as plt
import seaborn as sns

# **Importing parquet datset**

In [25]:
df = dd.read_parquet('/Users/dikshya/Desktop/Uber_Project/trip')

Lets check what out data looks like and what are the datatypes in each column.

In [27]:
df.describe()

Dask DataFrame Structure:
              VendorID tpep_pickup_datetime tpep_dropoff_datetime passenger_count trip_distance RatecodeID PULocationID DOLocationID payment_type fare_amount    extra  mta_tax tip_amount tolls_amount improvement_surcharge total_amount congestion_surcharge Airport_fee
npartitions=1
               float64               object                object         float64       float64    float64      float64      float64      float64     float64  float64  float64    float64      float64               float64      float64              float64     float64
                   ...                  ...                   ...             ...           ...        ...          ...          ...          ...         ...      ...      ...        ...          ...                   ...          ...                  ...         ...
Dask Name: concat, 38 expressions
Expr=Concat(frames=[ReadParquetFSSpec(6b4d13d)['VendorID'].describenumeric(split_every=False), ReadParquetFSSpec(6b4d13d)['tpep_pickup_datetime'].describenumeric(split_every=False), ReadParquetFSSpec(6b4d13d)['tpep_dropoff_datetime'].describenumeric(split_every=False), ReadParquetFSSpec(6b4d13d)['passenger_count'].describenumeric(split_every=False), ReadParquetFSSpec(6b4d13d)['trip_distance'].describenumeric(split_every=False), ReadParquetFSSpec(6b4d13d)['RatecodeID'].describenumeric(split_every=False), ReadParquetFSSpec(6b4d13d)['PULocationID'].describenumeric(split_every=False), ReadParquetFSSpec(6b4d13d)['DOLocationID'].describenumeric(split_every=False), ReadParquetFSSpec(6b4d13d)['payment_type'].describenumeric(split_every=False), ReadParquetFSSpec(6b4d13d)['fare_amount'].describenumeric(split_every=False), ReadParquetFSSpec(6b4d13d)['extra'].describenumeric(split_every=False), ReadParquetFSSpec(6b4d13d)['mta_tax'].describenumeric(split_every=False), ReadParquetFSSpec(6b4d13d)['tip_amount'].describenumeric(split_every=False), ReadParquetFSSpec(6b4d13d)['tolls_amount'].describenumeric(split_every=False), ReadParquetFSSpec(6b4d13d)['improvement_surcharge'].describenumeric(split_every=False), ReadParquetFSSpec(6b4d13d)['total_amount'].describenumeric(split_every=False), ReadParquetFSSpec(6b4d13d)['congestion_surcharge'].describenumeric(split_every=False), ReadParquetFSSpec(6b4d13d)['Airport_fee'].describenumeric(split_every=False)], axis=1)

In [29]:
df.info()

<class 'dask_expr.DataFrame'>
Columns: 19 entries, VendorID to Airport_fee
dtypes: datetime64[us](2), float64(10), int32(3), int64(3), string(1)

In [32]:
df.head(10)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,1,2024-09-01 00:05:51,2024-09-01 00:45:03,1.0,9.80,1.0,N,138,48,1,47.80,10.25,0.5,13.30,6.94,1.0,79.79,2.5,1.75
1,1,2024-09-01 00:59:35,2024-09-01 01:03:43,1.0,0.50,1.0,N,140,141,1,5.10,3.50,0.5,3.00,0.00,1.0,13.10,2.5,0.00
2,2,2024-09-01 00:25:00,2024-09-01 00:34:37,2.0,2.29,1.0,N,238,152,2,13.50,1.00,0.5,0.00,0.00,1.0,16.00,0.0,0.00
3,2,2024-09-01 00:31:00,2024-09-01 00:46:52,1.0,5.20,1.0,N,93,130,1,24.70,1.00,0.5,4.55,0.00,1.0,31.75,0.0,0.00
4,2,2024-09-01 00:11:57,2024-09-01 00:30:41,2.0,2.26,1.0,N,79,231,1,17.00,1.00,0.5,4.40,0.00,1.0,26.40,2.5,0.00
5,1,2024-09-01 00:30:13,2024-09-01 00:36:44,1.0,1.20,1.0,N,43,239,1,8.60,3.50,0.5,2.70,0.00,1.0,16.30,2.5,0.00
6,1,2024-09-01 00:59:24,2024-09-01 01:01:00,1.0,0.10,5.0,N,143,143,3,0.01,0.00,0.0,0.00,0.00,1.0,1.01,0.0,0.00
7,1,2024-09-01 00:08:28,2024-09-01 00:39:06,4.0,9.80,1.0,N,93,161,1,44.30,3.50,0.5,9.85,0.00,1.0,59.15,2.5,0.00
8,1,2024-09-01 00:06:07,2024-09-01 00:11:38,1.0,0.60,1.0,N,170,137,1,6.50,3.50,0.5,2.90,0.00,1.0,14.40,2.5,0.00
9,1,2024-09-01 00:20:28,2024-09-01 00:36:06,1.0,4.10,1.0,N,79,263,1,19.10,3.50,0.5,4.80,0.00,1.0,28.90,2.5,0.00

Lets clean the dataset by dropping columns with mnissing information/Nan Values.

In [34]:
data_clean = df.dropna()

# Compute the result if needed
result = data_clean.compute()

print(result)

         VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0               1  2024-09-01 00:05:51   2024-09-01 00:45:03              1.0
1               1  2024-09-01 00:59:35   2024-09-01 01:03:43              1.0
2               2  2024-09-01 00:25:00   2024-09-01 00:34:37              2.0
3               2  2024-09-01 00:31:00   2024-09-01 00:46:52              1.0
4               2  2024-09-01 00:11:57   2024-09-01 00:30:41              2.0
...           ...                  ...                   ...              ...
3149294         2  2024-09-30 23:26:47   2024-09-30 23:36:39              1.0
3149295         1  2024-09-30 23:23:39   2024-09-30 23:26:15              1.0
3149296         2  2024-09-30 23:18:53   2024-09-30 23:21:38              1.0
3149297         2  2024-09-30 23:10:08   2024-09-30 23:22:34              1.0
3149298         2  2024-09-30 23:30:24   2024-09-30 23:40:01              1.0

         trip_distance  RatecodeID store_and_fwd_flag  PULocationID  \
0                 9.80         1.0                  N           138
1                 0.50         1.0                  N           140
2                 2.29         1.0                  N           238
3                 5.20         1.0                  N            93
4                 2.26         1.0                  N            79
...                ...         ...                ...           ...
3149294           1.84         1.0                  N            79
3149295           0.30         1.0                  N           237
3149296           1.05         1.0                  N           107
3149297           1.61         1.0                  N           186
3149298           1.85         1.0                  N           262

         DOLocationID  payment_type  fare_amount  extra  mta_tax  tip_amount  \
0                  48             1         47.8  10.25      0.5       13.30
1                 141             1          5.1   3.50      0.5        3.00
2                 152             2         13.5   1.00      0.5        0.00
3                 130             1         24.7   1.00      0.5        4.55
4                 231             1         17.0   1.00      0.5        4.40
...               ...           ...          ...    ...      ...         ...
3149294           164             1         11.4   1.00      0.5        3.28
3149295           163             1          4.4   3.50      0.5        3.00
3149296           162             1          6.5   1.00      0.5        2.88
3149297           233             1         12.8   1.00      0.5        3.56
3149298           229             1         12.1   1.00      0.5        4.28

         tolls_amount  improvement_surcharge  total_amount  \
0                6.94                    1.0         79.79
1                0.00                    1.0         13.10
2                0.00                    1.0         16.00
3                0.00                    1.0         31.75
4                0.00                    1.0         26.40
...               ...                    ...           ...
3149294          0.00                    1.0         19.68
3149295          0.00                    1.0         12.40
3149296          0.00                    1.0         14.38
3149297          0.00                    1.0         21.36
3149298          0.00                    1.0         21.38

         congestion_surcharge  Airport_fee
0                         2.5         1.75
1                         2.5         0.00
2                         0.0         0.00
3                         0.0         0.00
4                         2.5         0.00
...                       ...          ...
3149294                   2.5         0.00
3149295                   2.5         0.00
3149296                   2.5         0.00
3149297                   2.5         0.00
3149298                   2.5         0.00

[3149299 rows x 19 columns]

Snapshot of the top 10  rows

In [36]:
data_clean.drop_duplicates()

Dask DataFrame Structure:
              VendorID tpep_pickup_datetime tpep_dropoff_datetime passenger_count trip_distance RatecodeID store_and_fwd_flag PULocationID DOLocationID payment_type fare_amount    extra  mta_tax tip_amount tolls_amount improvement_surcharge total_amount congestion_surcharge Airport_fee
npartitions=1
                 int32       datetime64[us]        datetime64[us]           int64       float64      int64             string        int32        int32        int64     float64  float64  float64    float64      float64               float64      float64              float64     float64
                   ...                  ...                   ...             ...           ...        ...                ...          ...          ...          ...         ...      ...      ...        ...          ...                   ...          ...                  ...         ...
Dask Name: dropduplicates, 3 expressions
Expr=DropDuplicates(frame=DropnaFrame(frame=ReadParquetFSSpec(6b4d13d)))

Lets look at the trip distance longer than 10 miles.

In [38]:
data_clean[data_clean.trip_distance >10].compute()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
21,1,2024-09-01 00:57:30,2024-09-01 01:40:20,2.0,14.50,1.0,N,132,91,1,64.6,2.75,0.5,13.77,0.00,1.0,82.62,0.0,1.75
53,2,2024-09-01 00:19:05,2024-09-01 00:37:21,1.0,10.37,1.0,N,138,216,1,40.1,6.00,0.5,7.40,0.00,1.0,56.75,0.0,1.75
58,2,2024-09-01 00:28:49,2024-09-01 01:18:09,1.0,14.69,1.0,N,87,223,1,66.0,1.00,0.5,14.20,0.00,1.0,85.20,2.5,0.00
88,2,2024-09-01 00:33:49,2024-09-01 01:04:30,2.0,16.86,2.0,N,132,48,1,70.0,0.00,0.5,16.19,6.94,1.0,98.88,2.5,1.75
91,2,2024-09-01 00:37:56,2024-09-01 01:07:34,1.0,20.69,2.0,N,132,140,1,70.0,0.00,0.5,16.19,6.94,1.0,98.88,2.5,1.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3149268,2,2024-09-30 23:50:26,2024-10-01 00:23:30,1.0,18.39,2.0,N,132,90,1,70.0,0.00,0.5,0.00,6.94,1.0,82.69,2.5,1.75
3149276,1,2024-09-30 23:28:23,2024-10-01 00:04:35,1.0,19.40,2.0,N,132,43,1,70.0,4.25,0.5,24.80,6.94,1.0,107.49,2.5,1.75
3149278,2,2024-09-30 23:25:25,2024-10-01 00:11:18,1.0,21.27,2.0,N,132,244,1,70.0,0.00,0.5,15.69,6.94,1.0,95.88,0.0,1.75
3149285,2,2024-09-30 23:51:57,2024-10-01 00:25:43,1.0,21.78,1.0,N,132,235,1,80.7,1.00,0.5,5.00,0.00,1.0,89.95,0.0,1.75
3149287,1,2024-09-30 23:20:12,2024-09-30 23:56:45,1.0,20.50,2.0,N,132,13,1,70.0,4.25,0.5,10.00,0.00,1.0,85.75,2.5,1.75

In [39]:
column_mean = data_clean['fare_amount'].mean().compute()

# Print the result
print(f"Mean of the column: {column_mean}")

Mean of the column: 20.085102084622644

In [40]:
tripdistance_mean = data_clean['trip_distance'].mean().compute()

# Print the result
print(f"Mean of the column: {tripdistance_mean}")

Mean of the column: 3.534966108330773

**Lets check how many people paid by different payment type**

In [67]:
paymentanalysis = data_clean.groupby("payment_type").size().compute()
print(paymentanalysis)

payment_type
1    2604671
2     445230
3      25337
4      74061
dtype: int64